body {
    background: rgba(75, 195, 255, 1.0);
    background: -webkit-linear-gradient(left, rgba(75, 195, 255, 1.0), rgba(246, 115, 255, 1.0));
    background: -moz-linear-gradient(left, rgba(75, 195, 255, 1.0), rgba(246, 115, 255, 1.0));
    background: linear-gradient(to right, rgba(75, 195, 255, 1.0), rgba(246, 115, 255, 1.0));
}

h1 {
    color: white;
    text-align: center;
}

h1, body {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 25px
}


p{
    border-top: 3px solid darkred;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 15px;
    color: black;
    text-align: center;
}

.container {
    position: relative;
}

.center {
    position: absolute;
    top: 90%;
    width: 100%;
    text-align: center;
    font-size: 18px;
}


.webgl-content{
    height: 100%
}
